<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Members</title>
  </head>
  <body>
    <button type="button" class="btn btn-primary" id="searchButton">이게3?</button>
    <div id="listLayout"></div>

    <input type = "button" id="searchButton2" class="btn btn-primary" value = "제출" />
      <div><table id = "boardList" border = "1"></table></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
       $(function(){ $("#searchButton").click(function(){ 
          var url = "http://192.168.219.105:8090/api/member/"; 
          console.log("여긴오잖아");
           $.ajax({ url: url , success: function(data) {
              var result = data.length; 
              console.log(data);
              $("#listLayout").html(result); }, error : function(e) { }}); }) })   

      $(function(){ $("#searchButton2").click(function(){ 
          var url = "http://192.168.219.105:8090/api/member/"; 
          
           $.ajax({ url: url , success: function(data) {
            var results = data;
            var str = '<TR>';
            $.each(results , function(i){
                str += '<TD>' + results[i].name + '</TD><TD>' + results[i].email + '</TD><TD>';
                str += '</TR>';
           });
           $("#boardList").append(str);  }, error : function(e) { }}); }) })   
    </script>
  </body>
</html>